@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body{

    background-image: url("https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072821_960_720.jpg");
    background-color: transparent;
    background-attachment: fixed;
    background-size: cover
    

 

}

.count{
    padding-top:200px;
    padding-left: 500px;
    text-align: center;
}
.calendar, .count1, .count2, .count3, .count4{

  padding: 50px;
  width: 90px;
  height: 90px;
  background: lightgray;
  border-radius: 50%;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  color:black;
  font-weight: bold;
  font-size: 50px;
  font-family: verdana;
  float: left;
  text-align: center;
  margin: 30px;
  text-shadow: 1px 1px black;
-webkit-box-shadow: 0px 0px 72px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 72px -9px rgba(0,0,0,0.75);
box-shadow: 0px 0px 72px -9px rgba(0,0,0,0.75);
}